header{
    background-color: #00a0d2;
    color: white;
    position: fixed;
    width: 100%;
}



header > div:first-child,
.features > div:first-child{
    flex: 0 0 15%;
}

header > div,
.features > div{
    flex: 0 0 calc(85%/3);
    padding: 5px ;
}

.features{
    margin-top: 10px;
}

.features p{
    font-weight: normal;
    font-size: 12px;
    color: #5a6268;
}

.features > div:nth-child(n+2){
    padding-right: 10px;
    overflow-x: auto;

}
.features > div:nth-child(n+2):hover{
    background-color: #cDe8f6;

}

header > div:first-child h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.features > div:first-child {
    font-weight: bold;
}

.features:hover {
    background-color: #eDf8f9;
    transition: background-color 256ms linear;

}

.features:hover pre{
    background-color: white;
}

main {
    padding: 75px 10px 0;
    overflow-x: hidden;
}
header {
    border-bottom: 1px solid #000000 ;
    margin: 0 -10px;
    padding: 5px 10px;
}
input[type="search"]{
    border: 1px;
    padding: 2px 10px;
    font-size: 14px;
}

h1{
    background-color: #000;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 0;;
}

.features{
    display: flex;
    border-bottom: 1px solid #eee;
    font-size: .85rem;
}

code{
    font-family: monospace, "courier new";
    font-size: .8rem !important;

}
pre{
    background-color: #f9f9f9;
    padding: 4px;

    margin-bottom: 10px;
    transition: background-color 256ms linear;
}