<div class="features">
    <div>Array Methods : push/pop</div>
    <div>--</div>
    <div>
        Methods available are: Push, pop, insert
        <pre><code>arr = [1,2,3]
//push
arr.append(4); // 1,2,3,4

//pop
arr.pop(); // 4
    </code></pre>

    </div>
    <div>
        --
    </div>
</div>
