<div class="features">
    <div>Basic data types</div>
    <div>
        Number, String
    </div>
    <div>

    </div>
    <div class="dart">
        Number, string, dynamic, List, Set
    </div>
</div>