<div class="features">
    <div>Exception handling
    <p>
        usage of try catch blocks and throwing errors
    </p></div>
    <div>
<pre><code>try {
} catch ( e ) {
} finally {
    // some handler
}
    </code></pre>
    </div>
    <div>
        // TODO
    </div>
    <div>
         //TODO
    </div>
</div>