<div class="features">
    <div>For loop : range</div>
    <div>--</div>
    <div>
<pre><code>for i in range(3,10)
        print(num)
    </code></pre>
    </div>
    <div>
        --
    </div>
</div>
