<div class="features">
    <div>For in Loop : over string</div>
    <div>
<pre><code>var k = "abcde";
        for (var i in k ){
        console.log(i, k[i]);
        }
    </code></pre>
        output</br> 0 a </br> 1 b </br> 2 c </br> 3 d </br> 4 e
    </div>
    <div>
<pre><code>test = "abcde"
        index = 0
        for i in test:
        print("{} {}".format(index, test[index]));
        index = index +1
    </code></pre>
        or

 <pre><code>test = "abcde"
         for key, val in enumerate(test):
         print("{} {}".format(key, val));
     </code></pre>

        output</br> 0 a </br> 1 b </br> 2 c </br> 3 d </br> 4 e
    </div>
    <div>
        --
    </div>
</div>