<div class="features">
    <div>if, else if and else Statements</div>
    <div>
<pre><code>if( x === null ) {
    console.log("x is null");
} else if ( x === 5 ) {
    console.log("x is 5");
} else {
    console.log("x is something else");
}</code></pre>
    </div>
    <div>
        <pre><code>x = 7
if x == 7:
    print("x is 7")
elif x == 5:
    print("x is 5")
else :
    print("x is something else")
</code></pre>
    </div>
    <div>
        <pre><code>if( x == null ) {
    print("x is null");
} else if ( x == 5 ) {
    print("x is 5");
} else {
    print("x is something else");
}</code></pre>
    </div>
</div>