<div class="features">
    <div>Import Statements: basic</div>
    <div>
        <pre><code>import React from 'react'
            </code></pre>
    </div>
    <div>
        <pre><code>from react import React</code></pre>
    </div>
    <div>
        <code>

        </code>
    </div>
</div>
