<div class="features">
    <div>List or arrays</div>
    <div>
        <pre><code>var x = [2, 3,4]</code></pre>
    </div>
    <div>
        <pre><code>thislist = ["apple", "banana", "cherry"]</code></pre>
        <pre><code>thislist.count("apple") // 0</code></pre>
        <pre><code>thislist.append("mango") // ["apple", "banana", "cherry", "mango"]</code></pre>
        <pre><code>thislist.extend(["kiwi"]) //  ["apple", "banana", "cherry", "mango", "kiwi"]</code></pre>
        <pre><code>thislist.index("banana") //  1</code></pre>
        <pre><code>thislist.insert(1,"guava") //  ["apple", "guava","banana", "cherry", "mango", "kiwi"]</code></pre>
        <pre><code>thislist.pop(1) // pops the element in the index 1</code></pre>
        <pre><code>thislist.remove(1) // removes element in the index 1</code></pre>
        <pre><code>thislist.reverse() // reverse the array</code></pre>
        <pre><code>thislist.sort() // sorts the array</code></pre>
    </div>
    <div>
        <pre><code>List x = [2, 3,4]</code></pre>
        <pre><code>List &lt;int&gt; x = [2, 3,4] // only integer array</code></pre>
    </div>
</div>