<div class="features">
    <div>List or arrays</div>
    <div>
        <pre><code>var x = [2, 3,4]</code></pre>
    </div>
    <div>
        <pre><code>thislist = ["apple", "banana", "cherry"]</code></pre>
    </div>
    <div>
        <pre><code>List x = [2, 3,4]</code></pre>
        <pre><code>List &lt;int&gt; x = [2, 3,4] // only integer array</code></pre>
    </div>
</div>