<div class="features">
    <div>logical operators
        And / Or / Not
    </div>
    <div>
        <pre><code>a && b // and</code></pre>
        <pre><code>a || b // or</code></pre>
        <pre><code>!a // not</code></pre>
    </div>
    <div>
        <pre><code>a and b // and</code></pre>
        <pre><code>a or b // or</code></pre>
        <pre><code>not a  not</code></pre>
    </div>
    <div>
        // TODO
    </div>
</div>