<div class="features">
    <div>Object | dictionary | map
        <p>objects in javascript are very similar to dictionary in python and map in dart</p>
    </div>
    <div>

        <pre><code>var x = {"a":"b", "key" : "asdf"}</code></pre>
    </div>
    <div>
        <pre><code> x = {"a":"b", "key" : value2, 3 : 4}</code></pre>
    </div>
    <div>
        <pre><code>var x = {"a":"b", "key" : value2, 3 : 4}</code></pre>
    </div>
</div>