<div class="features">
    <div>Null aware operator</div>
    <div>
        There is no such functionality, how ever it can be written as
        <pre><code>var x = x || 200</code></pre>
    </div>
    <div>
        --

    </div>
    <div>
        <pre><code>//Assign x as 200 if null
var x ??= 200;
// assign to y if not null else to z
x =  y ?? z;
// call function if x is not null
x?.someFunction()
</code></pre>
    </div>
</div>