<div class="features">
    <div>sets</div>
    <div>
        <pre><code>var x = [2, 3,4]</code></pre>
    </div>
    <div>
        <pre><code>thisset = {"apple", "banana", "cherry"}</code></pre>
    </div>
    <div>
        <pre><code>var x = {2, 3,4}</code></pre> or
        <pre><code>Set &lt;int&gt; x = {2, 3,4}</code></pre>
    </div>
</div>