<div class="features">
    <div><h4>sets</h4>
        <br /> set.add()
        <br /> set intersection
        <br />
    </div>
    <div>
        <pre><code>var x = [2, 3,4]</code></pre>
    </div>
    <div>
        <pre><code>fruitSet = {"apple", "banana", "cherry"}</code></pre>
        <pre><code>fruitSet.add("guava") // "apple", "banana", "cherry" , "guava"</code></pre>
        <pre><code>fruitSet.copy() // creates another copy - not referenced</code></pre>
        <pre><code>fruitSet.difference(anotherset) // shows the object containing difference</code></pre>
        <pre><code>fruitSet.discard("banana") // remove banana</code></pre>
        <pre><code>fruitSet.isdisjoint(anotherset) // tell if there is any element is common</code></pre>
        <pre><code>fruitSet.issuperset(anotherset) // tell if fruitset contains everything of anotherset</code></pre>
        <pre><code>fruitSet.union(anotherset) // tell if fruitset contains everything of anotherset</code></pre>
    </div>
    <div>
        <pre><code>var x = {2, 3,4}</code></pre> or
        <pre><code>Set &lt;int&gt; x = {2, 3,4}</code></pre>
    </div>
</div>