<div class="features">
    <div>String Operations:
        1. Upper casing / lower casing
        2. spliting
        3. replacing
    </div>
    <div>
        <pre><code>"asf".toLowercase() // lower case</code></pre>
        <pre><code>"asf".toUppercase() // upper case</code></pre>
    </div>
    <div>
        <pre><code>"asf".lower() // lower case</code></pre>
        <pre><code>"asf".upper() // upper case</code></pre>
    </div>
    <div>
        // TODO
    </div>
</div>