<div class="features">
    <div>
        <h4>String Operations:</h4>
        1. Upper casing / lower casing <br />
        2. spliting<br />
        3. replacing<br />
        4. alpha numeric check<br />
    </div>
    <div>
        <pre><code>"asf".toLowercase() // lower case</code></pre>
        <pre><code>"asf".toUppercase() // upper case</code></pre>
        <pre><code>"asf".split("s") //a,f : splits by a character</code></pre>
    </div>
    <div>
        <pre><code>"asf".lower() // lower case</code></pre>
        <pre><code>"asf".islower() // check if a single lower case</code></pre>
        <pre><code>"asf".upper() // upper case</code></pre>
        <pre><code>"asf".isupper() // check if string is in upper case</code></pre>
        <pre><code>"asf".isalpha() // check for alpha batic string</code></pre>
        <pre><code>"asf".isalnum() // check for alpha numeric</code></pre>
        <pre><code>"asf".isspace() // check for space in the string</code></pre>
        <pre><code>"asf".endswith('f') // checks last character</code></pre>
        <pre><code>"asf".split('f') //a, f split similar to js</code></pre>
        <pre><code>"asf".partition('f') //a, f split similar to split but for first case</code></pre>
    </div>
    <div>
        // TODO
    </div>
</div>