<div class="features">
    <div>Type Casting</div>
    <div>
        <pre><code>console.log("some string")
            </code></pre>
    </div>
    <div>
        <pre><code>list(range(0,10,2)))</code></pre>
        // 0,2,4,6,8,10
    </div>
    <div>
        <code>

        </code>
    </div>
</div>