<div class="features">
    <div>Type determination</div>
    <div>
        <pre><code>typeof "somedata"</code></pre>
    </div>
    <div>
        todo
    </div>
    <div>
        todo
    </div>
</div>