<header class="d-flex flex-row align-items-end">
    <div>
        <h3>Features</h3>
        <input type="search" id="featureSearchBox" placeholder="search feature" />
    </div>
    <div><h3>JS</h3></div>
    <div><h3>Python</h3></div>
    <div><h3>Dart</h3></div>
</header>
